*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
}
.title{
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0px;
    font-weight: 600;
    font-size: 25px;
    color: white;
    background-color: #F806CC;
}
.container{
    height: 50vh;
    margin-top: 5rem;
    display: grid;
    place-content: center;
}
button{
    border: none;
    outline: none;
    background-color: #F806CC;
    font: 25px 'poppins', sans-serif;
    padding: .8rem 2rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    letter-spacing: 2px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.334);
}
button:first-child{
    margin-bottom: 10px;
}


a{
    text-decoration: none;
    color: white;
}