body{
    font-family: 'poppins'!important;
}


.title{
    height: auto;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    color: white;
    background-color: #293462;
    padding: 2rem;
}
.container{
    height: 80vh;
}
